h1{
  color: white;
  background-color: rgb(28, 100, 133);
}
h2{
  color: white;
  background-color: rgb(28, 100, 133);
}
h3{
  color: rgb(28, 150, 133);
}
.column {
  width: 350px;
  float: right;
}
img {
  max-width: 30%;
  height: auto;
}
